

.card-image{
    width: 250px;
    height:300px;
}
.card-name{
   padding:0.5em;
   color:#314e52;
   font-size: 1.50em;
   font-weight: 500;
   margin-left: -25px solid white;
}

.card-price{
  color:#314e52;
  font-size: 1.5em;
  margin-top:-5px;
  font-weight: 700;
  display:inline-block;
  margin-right:60px;
  margin-left: 25px;
}
.card-btn{
    border:none;
    display: inline-block;
    padding:10px;
    border-radius: 3px;
    background-color:skyblue;
    color:black;
}
.card-a{
    margin-left: 25px;
}